:root {
  font-family: system-ui, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color-scheme: light dark;
  color: black;

}

a {
  font-weight: 500;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

